<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help Desk</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!--Google Fonts - Lato -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,900&display=swap"
    rel="stylesheet">

  <!--CSS Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <!--Icons Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <!--JavaScript Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <!-- CSS do Projeto-->
  <link rel="stylesheet" href="/static/css/estilo.css">


</head>

<body>
  <section class="vh-100 login-box">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block imagem">
                <img src="/static/imagens/imglogin.jpg" alt="login form" class="img-fluid" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <form action="http://127.0.0.1:5000/cadastrousuarios" method="post">

                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Cadastre-se</span>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="nome" id="formulario" class="form-control form-control-lg" name="name" />
                      <label class="form-label" for="formulario">Nome</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="nome" id="formulario" class="form-control form-control-lg" name="lastnbame" />
                      <label class="form-label" for="formulario">Sobrenome</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="email" id="formulario" class="form-control form-control-lg" name="email" />
                      <label class="form-label" for="formulario">Email</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="formulario" class="form-control form-control-lg" name="password" />
                      <label class="form-label" for="formulario">Senha</label>
                    </div>


                    <div class="pt-1 mb-4">
                      <button type="submit" class="btn btn-dark btn-lg btn-block" type="button">Enviar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>